#Ignore thumbnails created by windows
Thumbs.db

#Ignore folder
/_obj/
/_lib/
/mat/

/Code/.vs/

#Ignore bin
/bin/*/Game_*.exe
/bin/*/Game_*.ilk
/bin/*/Game_*.pdb
/bin/*/Game_*.exp
/bin/*/Game_*.lib
/bin/*/Game_*.iobj
/bin/*/Game_*.ipdb
/bin/*/Log.txt